* {
    box-sizing: border-box;
    margin: 0;
}

body {
    overflow: hidden;
}

body, #root {
    width: 100vw;
    height: 100vh
}

a {
    text-decoration: none;
}
a:link, a:visited, a:hover, a:active {
  color: inherit
}